/**********/
/* HEADER */
/**********/
header{
	position: relative;
	display:flex; 
	align-items: center;
	flex-direction: column;
	padding-top:8em;
	padding-bottom:3em
}

header > a {
	position: fixed; 
	top:1em; 
	width:9.25rem;

	z-index: 100;
}

/* Voor het logo (grote en vastzetten)*/
header > a img{
	display:block;
}
/* Voor het logo (grote en vastzetten)*/

/* nav */
header nav {
	position: relative;
	padding:2em;
}
/**********/
/* HEADER */
/**********/




/*********/
/* MAIN */
/*********/


h1{
	font-size: 4.5em;
}
/* om de volgorde van de elementen goed te krijgen  */
main section{
	display: grid;
	grid-template-columns: 12fr 1fr;
	grid-template-rows: 0fr 1fr 1fr;
	gap:0em;
	padding: 0 1em;
}

date {
	grid-row:1;
	grid-column:1;
}

h2{
	grid-row:2;
	grid-column:1;
}

address{
	grid-row:3;
	grid-column:1; 
}

a{
	grid-row:2;
	grid-column-start: 2;
	align-self: center;
}



/* om de ticket links te stylen */
main section a{
	border: 20em;
	border-radius: 1.5em;
	background-color: var(--color-gold); 
	margin: 0;
	padding: 0.5em;
	color:var(--color-tan);

	transition:transform .2s;
}

main section a:hover{
	transform: scale(0.8);
}




/*********/
/* MAIN */
/*********/