/* De lettertypes die ik nodig heb toe te voegen */
@font-face {
	font-family: '5secondsofsummerbold';
	src: url(../fonts/urw-antiqua-bold.woff2);
}

@font-face {
	font-family: '5secondsofsummermedium';
	src: url(../fonts/urw-antiqua-medium.woff2);
}



/**************/
/* CSS REMEDY */ /* geen idee wat dit is dit stond er al in */
/**************/
*, *::after, *::before {
  box-sizing:border-box; 
  
  /* border:solid 1px red; */
}


/*********************/
/* CUSTOM PROPERTIES */ /* Om het mezelf makkelijker te maken properties voor de kleuren en letterypes gemaakt */
/*********************/
:root {
	--color-gold:rgb(240, 234, 187);
	--color-blue:rgb(2, 7, 36);
	  font-family: '5secondsofsummermedium';
}


body {
	margin:0;
}

/* de fotos worden niet groter dan de container*/
img {
	max-width: 100%;
}


/****************/
/* JOUW STYLING */
/****************/

/* Achtergrond kleur */
main{
	background-color: var(--color-blue);
	/* om alle tekst de goeie kleur te geven */ 
	color: var(--color-gold);
}

/* Om de puntjes voor de list items in de navigatie en de footer weg te halen */ 
ul {
	list-style: none; 
	/* flexboxen om de ul en li op 1 mooi rijtje te krijgen wat niet de hele pagina in beslag neemt*/
	display: flex;
	overflow-x: auto;
	gap: 1em;
}

/* om de navigatie tekst atoumatisch het goeie font te geven  */ 
nav ul li a{
	font-family: var(--font-family);
	color: var(--color-gold);

}
 
/* Voor het logo (grote en vastzetten) WERKT NIET/GEEN IDEE OF DIT UBERHAUPT GOED IS*/
  main header h1 img {
	position: fixed; 
	width:auto;
	height:auto; 

}


/* listen 'knop' kleur en vorm geven*/
body section a {
	border: 20em;
	border-radius: 1.5em;
	background-color: var(--color-gold); 
	margin: 1em;
	padding: 0.5em;

	color: rgb(103,101,77);
}

/* Om de teksten in het midden uitgelijnd te krijgen*/
body section h2{
	display:flex;
	justify-content: center;

}

footer h2{
	display:flex;
	justify-content:center; 
}

body section h3{
	display:flex;
	justify-content: center;
}




/* om de achtergrond over de hele pagina te krijgen */
h1{
	margin: 0;
}

/* om de h1 te verbergen */
/* https://www.a11yproject.com/posts/how-to-hide-content/ */

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

  /* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label */
  /* Voor de form  */




